<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Om.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15081BCB1C80B9A1006A7F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15081BDF1C80B9A1006A7F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15081BEA1C80B9A1006A7F88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
